/* Add CSS styling here */
/*reset goes first*/

/* html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
} */



/* Page background color*/
html{
  font-size:62.5%;
}
body{
    background-color: aqua;
}
/* Header Styles*/
*{
    box-sizing:border-box;
    /*padding:10px;*/
    /*margin:0;*/
    /*max-width:100%;*/
  }
  /* Header styles */ 
  nav{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
/*   border: 3px solid black; */
  width:100%;
  height:100%
  }

h1{
  color:Green;
/*   border: 3px solid black; */
}

.Home p:hover{
  color:gold;
}

.About p:hover{
  color:gold;
}

.Contact p:hover{
  color:gold;
}

.Project p:hover{
  color:gold;
}

/* Body Text Styles*/
h2{
  font-size:3rem;
  text-align:center;
  color:crimson;
}
/* My Project Stlyes*/

.Gallery img{
  display:flex;
  display:block;
  margin-left:20px;
  margin-right:auto;
  height:170px;;
  width:170px;
}

.Gallery{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.Gallery img:hover{
  border: 3px solid gold;
}

h3{
  font-size:3rem;
  text-align:center;
}
h3:hover{
  color:crimson;
}

/* Paragraph stytling */
p{
  font-size:2rem;
}

/* Footer Styling */

footer{
  text-align:center;
}


/*Media Styles below 800px  */
@media (max-width:800px){
  h1{
  text-align:center;
  color:Red;
}
 .Gallery{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
  }
  nav{
    display:flex;
    flex-direction:column;
    text-align:center;
  }
  body{
    background-color:gold;
  }
  footer div{
    color:charcoal;
  }
}
/*Media Styles below 500px  */
@media (max-width:500px){
  h1{
    color:magenta;
  }
  body{
    background-color:lime;
  }
   .Gallery{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
  }
  .Gallery img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  height:100px;;
  width:100px;
}
}
